html{
  height: 100%;
}

body{
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.chat-box {
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 170px);
  padding: 20px;
}

.chat-input {
  height: 80px;
  padding: 10px;
  border-top: 1px solid gray;
}

#message-input{
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
}

.message-box {
  padding: 10px;
  border-radius: 20px;
  max-width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.your-message {
  align-self: flex-end;
  background-color: #0078ff;
  color: white;
}

.recipient-message {
  align-self: flex-start;
  background-color: darkgray;
  color: white;
}

.profile-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: lightseagreen;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.name-container {
  margin-left: 20px;
  display: table;
}

.name-wrapper{
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.name{
  font-weight: bold;
}

.conversation-container{
  width: 35%;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 50px);
  border-right: 1px solid gray;
}

.conversation-container::-webkit-scrollbar {
  width: 1em;
}

.conversation-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255,255,255, 0.3);
}

.conversation-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chat-box::-webkit-scrollbar {
  width: 0.5em;
}

.chat-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255,255,255, 0.3);
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.main-container{
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
}

.chat-name{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
  width: 100%;
}

.chat-container{
  width: 100%;
}

.default-message{
  padding-left: 20px;
}

.chat-name-header{
  font-weight: bold;
}
/* .conversation-container{
    height: 93vh;
}

#message-input{
    width: 80%;
}

.chat{
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px 
}*/

@media only screen and (max-width: 1024px){
  .name-container{
    display: none;
  }

  .conversation-container{
    width: 100px;
    padding: 0;
    margin: 0 auto;
  }
}